<h1 class="text-xl font-semibold text-stone-500">
  <%= t('todos.list_all') %> <%= current_user.firm_setting.legal_name %>
</h1>

<div class="my-6"><%== pagy_nav @pagy %></div>

<%= render TableComponent.new(
      objects: @documents,
      list_attributes: %i(name dossier created_at download format),
      class_name: "Document",
      url_method: :url)
%>

<div class="my-6"><%== pagy_nav @pagy %></div>