<div class="my-4 flex justify-between items-center">
  <div>Total impayés : <%=number_to_currency @factures_unpaids.sum(&:balance) %></div>
  <%= render BigButtonComponent.new name: "Nouveau dossier", url: new_dossier_path %>
</div>

<%= render TableComponent.new(
      objects: @factures_unpaids,
      list_attributes: %i(date payment_badge numero dossier description total_ttc download),
      class_name: "Facture",
      url_method: :dossier_url)
%>

<div class="grid grid-cols-2 gap-10">
  <div class="col-span-2 sm:col-span-2">
    <%= render "shared/divider", title: t('todos.list') %>

    <ul role="list" class="divide-y divide-gray-100 bg-white p-4 rounded-md border">
      <%= render partial: "todos/todo", 
                 collection: current_user.todos.incomplete.lasts(50), 
                 locals: {can_edit: true, show_dossier: true} %>
                 
      <li class="flex items-center justify-end text-xs gap-x-3 py-2 pt-4">
        <%= link_to "voir toutes les tâches &rarr;".html_safe, dashboard_todos_path %>
      </li>
    </ul>
  </div>
</div>

<div class="mt-6 border-slate-500">
  <%= render "shared/divider", title: "Agenda des prochaines semaines" %>
  <%= turbo_frame_tag :calendar, src: dashboard_events_path %>
</div>