<%= turbo_frame_tag :modal %>

<%= turbo_frame_tag :dossier_name do %>
  <h1 class="font-black text-3xl flex items-center space-x-2">
    <span class="inline-block"><%= @dossier.name %></span>
    <span class="inline-block">
      <%= link_to edit_dossier_path(@dossier, attribute: :name) do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-stone-500">
          <path d="M5.433 13.917l1.262-3.155A4 4 0 017.58 9.42l6.92-6.918a2.121 2.121 0 013 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 01-.65-.65z" />
          <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0010 3H4.75A2.75 2.75 0 002 5.75v9.5A2.75 2.75 0 004.75 18h9.5A2.75 2.75 0 0017 15.25V10a.75.75 0 00-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5z" />
        </svg>
      <% end %>
    </span>
  </h1>
<% end %>

<div class="flex items-center space-x-2">
  <div><%= k(@dossier).badge %></div>
  <div>
    <span class="text-sm text-stone-500 inline-block mr-6">
      <%= at(@dossier, :reference) %> :
      <span class="font-mono text-stone-700"><%= @dossier.reference %></span>
    </span>
    <span class="text-sm text-stone-500">
      <%= at(@dossier, :created_at) %>
      <%= l(@dossier.created_at, format: :short) %>
    </span>
  </div>
</div>

<div class="grid grid-cols-2 mt-10 gap-4">
  <div class="p-4 bg-white rounded-md border shadow-sm col-span-2 lg:col-span-1">
    <h2 class="text-sm font-semibold text-stone-400"><%= t('dossiers.show.resume') %></h2>
    <%= turbo_frame_tag :dossier_description do %>
      <div class="text-sm mt-1 content"><%= simple_format @dossier.description %></div>

      <div class="flex justify-end mt-4">
        <%= link_to edit_dossier_path(@dossier, attribute: :description) do %>
          <span class="text-stone-500 text-xs italic underline">modifier</span>
        <% end %>
      </div>
    <% end %>

    <%= turbo_frame_tag :notes, src: dossier_notes_path(@dossier) %>
  </div>

  <div class="p-4 bg-white rounded-md border shadow-sm col-span-2 lg:col-span-1">
    <h2 class="text-sm font-semibold text-stone-400"><%= t('dossiers.show.todos') %></h2>
    <div class="mb-4"><%= render "todos/form", todo: @dossier.todos.new, todoable: @dossier %></div>
    <ul data-controller="sortable" class="divide-y">
      <%= render partial: "todos/todo", collection: @dossier.todos.incomplete.order(:row_order), locals: {can_edit: true, show_dossier: false} %>
    </ul>
    <div class="flex justify-end mt-4">
      <%= link_to "voir les tâches complétées &rarr;".html_safe,
          completed_dossier_todos_path(@dossier),
          "data-turbo-frame": "modal",
          class: "text-stone-500 text-xs italic underline" if @dossier.todos.completed.any? %>
    </div>
  </div>

  <div class="p-4 bg-white rounded-md border shadow-sm col-span-2 lg:col-span-1">
    <h2 class="text-sm font-semibold text-stone-400"><%= t('dossiers.show.hearings') %></h2>
    <div class="mb-4"><%= render "events/form", event: @dossier.events.new, dossier: @dossier %></div>
    <div class="flow-root">
      <ul role="list" class="mt-4" id="hearings">
        <%= render @dossier.events.hearings %>
      </ul>
    </div>
  </div>

  <div class="p-4 bg-white rounded-md border shadow-sm col-span-2 lg:col-span-1">
    <h2 class="text-sm font-semibold text-stone-400"><%= t('dossiers.show.documents') %></h2>
    <div class="mb-4"><%= render "documents/form", document: @dossier.documents.new, dossier: @dossier %></div>
    <%= render @dossier.documents %>
  </div>

  <div class="p-4 bg-white rounded-md border shadow-sm col-span-2 lg:col-span-1">
    <h2 class="text-sm font-semibold text-stone-400"><%= t('dossiers.show.events') %></h2>
    <div class="mb-4"><%= render "events/form_other", event: @dossier.events.new, dossier: @dossier %></div>
    <div class="flow-root">
      <ul role="list" class="mt-4" id="events">
        <%= render @dossier.events.others %>
      </ul>
    </div>
  </div>

  <div class="p-4 bg-white rounded-md border shadow-sm col-span-2 lg:col-span-1">
    <h2 class="text-sm font-semibold text-stone-400"><%= t('dossiers.show.contacts') %></h2>
    <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-2 mt-4">
      <%= render ContactComponent.with_collection(@dossier.contacts, dossier: @dossier) %>
    </ul>

    <div class="flex justify-end mt-4">
      <%= link_to new_existing_dossier_contact_path(@dossier), "data-turbo-frame": "modal" do %>
        <span class="text-xs cursor-pointer border-stone-300 border px-2 py-1 rounded-md m-0 bg-stone-50 text-stone-600 font-semibold w-18"><%= t('contacts.buttons.new') %></span>
      <% end %>
    </div>
  </div>

  <div class="p-4 bg-white rounded-md border shadow-sm col-span-2 lg:col-span-1">
    <h2 class="text-sm font-semibold text-stone-400"><%= t('dossiers.show.conventions') %></h2>
    <%= render ConventionComponent.with_collection(@dossier.conventions) %>

    <div class="flex justify-end mt-4">
      <%= link_to new_dossier_convention_path(@dossier), "data-turbo-frame": "modal" do %>
        <span class="text-xs cursor-pointer border-stone-300 border px-2 py-1 rounded-md m-0 bg-stone-50 text-stone-600 font-semibold w-18"><%= t('conventions.buttons.new') %></span>
      <% end %>
    </div>
  </div>

  <div class="p-4 bg-white rounded-md border shadow-sm col-span-2 lg:col-span-1">
    <h2 class="text-sm font-semibold text-stone-400"><%= t('dossiers.show.factures') %></h2>

    <ul class="grid grid-cols-2 gap-4 mt-4">
      <%= render partial: "factures/sheet", collection: @dossier.factures, as: :facture %>
    </ul>

    <div class="flex justify-end mt-4">
      <%= link_to new_dossier_facture_path(@dossier) do %>
        <span class="text-xs cursor-pointer border-stone-300 border px-2 py-1 rounded-md m-0 bg-stone-50 text-stone-600 font-semibold w-18"><%= t('factures.buttons.new') %></span>
      <% end %>
    </div>
  </div>

</div>