<h1><%= t 'password_resets.edit.title' %></h1>

<%= form_with model: @user, url: password_reset_path(token: params[:token]) do |form| %>
  <%= render "shared/errors", object: form.object %>
  
  <fieldset>
    <legend><%= t 'password_resets.edit.legend' %></legend>

    <div>
      <%= form.label :password, t('activerecord.attributes.user.new_password') %>
      <%= form.password_field :password %>
    </div>
    <div>
      <%= form.label :password_confirmation, t('activerecord.attributes.user.new_password_confirmation') %>
      <%= form.password_field :password_confirmation %>
    </div>
  </fieldset>

  <div class="form-footer"><%= form.submit t('passwords.edit.submit') %></div>

<% end %>