<div class="bg-white px-10 pb-10 pt-16 rounded-lg border relative">
  <%= render "header", dossier: @dossier, contact: @contact %>
  <%= render "form", dossier: @dossier, contact: @contact, ask: @ask %>
  <ul id="<%= dom_id(@dossier, :asks) %>" class="flex flex-col space-y-2">
    <%= render @asks, dossier: @dossier, contact: @contact %>
  </ul>

  <div class="mt-8 flex justify-end">
    <%= render LinkComponent.new name: "#{t('asks.buttons.send')} #{@contact.email}",
        url: send_by_email_dossier_asks_path(@dossier, contact_id: @contact),
        color: "amber" if @contact.email.present? %>
  </div>
</div>