<div class="bg-white px-10 pb-10 pt-16 rounded-lg border relative">
  <%= render "header", dossier: @dossier, contact: @contact %>
  <%= render "form", dossier: @dossier, contact: @contact, ask: @ask %>
  <ul id="<%= dom_id(@dossier, :asks) %>" class="flex flex-col space-y-2">
    <%= render @asks, dossier: @dossier, contact: @contact %>
  </ul>

  <div class="mt-8">
    <%= render DividerComponent.new title: t('asks.titles.how_to_send') %>

    <%= render NumberDividerComponent.new(number: 1, title: t('asks.titles.copy')) %>

    <%= turbo_frame_tag dom_id(@dossier, :document_share_links) do %>
      <%= render "document_share_links/link", dossier: @dossier, contact: @contact %>
    <% end %>

    <div class="mt-16"><%= render NumberDividerComponent.new(number: 2, title: t('asks.titles.send_email')) %></div>
    
    <%= render LinkComponent.new name: "#{t('asks.buttons.send')} #{@contact.email}",
        url: send_by_email_dossier_asks_path(@dossier, contact_id: @contact),
        color: "stone",
        icon: "fa-solid fa-paper-plane-top" if @contact.email.present? %>

  </div>

</div>