<div class="flex justify-between items-center">
  <h1 class="text-lg font-black">
    <span class="font-normal text-stone-600 text-base inline-block mr-6">
    &larr; <%= link_to t('factures.buttons.back_dossier'), facture.dossier %>
    </span>
    <%= t('factures.titles.new') %>
    <%= k(facture).numero %>
    <span class="font-normal text-stone-600 text-base">
    : <%= dossier.name %>
    </span>
  </h1>

  <div><%= k(facture).badge %></div>
</div>