<h1><%= t('registration_mailer.title') %></h1>

<p>
  <%= t('registration_mailer.connexion') %>
</p>

<p>
  <%= t('registration_mailer.help') %>
  <%= link_to t('registration_mailer.link_name'), "https://app.hammurabi.software/help" %>
</p>

<p>
  <%= t('registration_mailer.questions') %>
  <%= link_to t('registration_mailer.link_contact'), "https://app.hammurabi.software/reach" %>
</p>

<p>
  <%= t('registration_mailer.good_day') %>
</p>

<p style="border-top: 1px solid #D4D4D4; margin-top: 20px; padding-top: 20px;">
  <%= t('registration_mailer.signature') %>
</p>