<%= form_with model: @user, 
    url: registration_path, 
    builder: CustomFormBuilder,
    class: "max-w-3xl mx-auto" do |form| %>

  <%= render "shared/errors", object: form.object %>
  
  <fieldset class="bg-white border rounded-md p-6 relative mt-10">
    <legend class="absolute -top-10 text-stone-500 text-lg"><%= t 'registration.new.legend' %></legend>

    <div class="grid grid-cols-2 sm:gap-4">
      <div class="col-span-2 sm:col-span-1">
        <%= form.text_field :last_name, autofocus: true %>
      </div>

      <div class="col-span-2 sm:col-span-1">
        <%= form.text_field :first_name %>
      </div>
    </div>

    <%= form.text_field :firm %>
    <%= form.email_field :email %>
    <%= form.password_field :password %>
    <div class="-mt-4 mb-6"><small class="italic text-amber-600">Vous devez utiliser au moins 12 caractères</small></div>
    <%= form.password_field :password_confirmation %>
    <%= form.check_box :agreement %>
    <%= form.submit %>
  </fieldset>
<% end %>

<div class="mt-6 max-w-3xl mx-auto col-span-3 sm:col-span-2 text-lg flex flex-col space-y-2 bg-white border border-stone-200 rounded-md p-6">
  <p class="text-2xl mb-6">Conditions générales d'utilisation</p>
  <div class="text-xs text-stone-600 terms h-80 overflow-y-auto">
    <%= render "registrations/terms" %>
  </div>
</div>