<nav class="flex flex-col lg:flex-row items-center justify-between py-10">
  <div class="flex items-center space-x-2">
    <div>
      <%= link_to root_path do %>
        <span class="inline-flex h-14 w-14 items-center justify-center rounded-full bg-gray-500">
          <span class="text-xl font-medium leading-none text-white"><%= current_user.name.initials %></span>
        </span>
      <% end %>
    </div>

    <div>
      <div class="text-lg font-black text-stone-600">
        <div class="flex flex-col sm:flex-row sm:items-center sm:space-x-2">
          <div>
            <%= t('activerecord.attributes.user.honorific') %>
            <%= current_user.name.full %>
          </div>
          
          <div>
            <%= link_to settings_firm_setting_path do %>
              <span class="text-xs text-amber-600 font-normal">(<%= t('firm_setting.link') %>)</span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="text-sm font-semibold text-stone-500"><%= current_user.firm %></div>
    </div>
  </div>

  <div class="flex flex-col space-y-1 lg:space-y-0 mt-4 lg:mt-0 lg:flex-row items-center space-x-4">
    <div class="flex items-center space-x-4"><%= render "shared/icons" %></div>
    <%= render "dossiers/search" %>
    <%= button_to session_path, method: :delete, class: "hidden bg-white border p-1 rounded-md lg:flex text-xs text-rose-600" do %>
      <%= t('sessions.logout') %>
    <% end %>
  </div>
</nav>