<nav class="flex flex-col lg:flex-row items-center justify-between py-10">
  <div class="flex items-center space-x-2">
    <div>
      <%= link_to root_path do %>
        <span class="inline-flex h-14 w-14 items-center justify-center rounded-full bg-gray-500">
          <span class="text-xl font-medium leading-none text-white"><%= current_user.name.initials %></span>
        </span>
      <% end %>
    </div>

    <div>
      <div class="text-lg font-black text-stone-600">
        <div class="flex flex-col sm:flex-row items-center sm:space-x-2">
          <div>
            <%= t('activerecord.attributes.user.honorific') %>
            <%= current_user.name.full %>
          </div>
          
          <div>
            <%= link_to settings_firm_setting_path do %>
              <span class="text-xs text-amber-600 font-normal">(<%= t('firm_setting.link') %>)</span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="text-sm font-semibold text-stone-500"><%= current_user.firm %></div>
    </div>
  </div>

  <div class="flex flex-col space-y-1 lg:space-y-0 mt-4 lg:mt-0 lg:flex-row items-center space-x-4">
    <div class="flex items-center space-x-4"><%= render "shared/icons" %></div>
    <%= render "dossiers/search" %>
    <%= button_to session_path, method: :delete, class: "hidden text-stone-600 bg-white rounded-full h-10 w-10 p-2 border lg:flex justify-center items-center hover:shadow-md" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
      </svg>
    <% end %>
  </div>
</nav>