<div class="bg-transparent py-0 sm:py-0 rounded-xl">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl sm:text-center">
      <p class="mt-2 text-3xl font-bold tracking-tight text-stone-500 sm:text-4xl">Logiciel open source de gestion de cabinet d'avocat.</p>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-10 my-20">
    <div class="col-span-3 sm:col-span-1 bg-white border-2 border-stone-600 p-10 rounded-md text-2xl text-center">
      <%= link_to new_session_path do %>
        <div class="flex flex-col space-y-10 fa-2xl">
          <svg class="size-20 text-black mx-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g><path d="M11.23 21.51a7.4 7.4 0 0 1 -1.83 0.22 0.75 0.75 0 0 0 0 1.5 9.45 9.45 0 0 0 1.52 -0.12 0.24 0.24 0 0 0 0.2 -0.21 2.66 2.66 0 0 1 0.1 -0.38c0.09 -0.22 0.19 -0.44 0.29 -0.65a0.24 0.24 0 0 0 0 -0.27 0.27 0.27 0 0 0 -0.28 -0.09Z" fill="currentcolor" stroke-width="1"></path><path d="M17.15 9.26v0.27a0.25 0.25 0 0 0 0.09 0.19 0.25 0.25 0 0 0 0.2 0.06 5 5 0 0 1 0.95 0 0.26 0.26 0 0 0 0.19 -0.07 0.23 0.23 0 0 0 0.07 -0.18v-0.27a9.15 9.15 0 0 0 -1.93 -5.65 0.75 0.75 0 1 0 -1.18 0.92 7.68 7.68 0 0 1 1.61 4.73Z" fill="currentcolor" stroke-width="1"></path><path d="M6.39 21.13A7.74 7.74 0 0 1 1.65 14v-1.9a0.75 0.75 0 0 0 -1.5 0V14a9.23 9.23 0 0 0 5.66 8.52 0.72 0.72 0 0 0 0.29 0.06 0.75 0.75 0 0 0 0.29 -1.44Z" fill="currentcolor" stroke-width="1"></path><path d="M0.88 9.54a0.75 0.75 0 0 0 0.79 -0.71 7.75 7.75 0 0 1 11.61 -6.28 0.74 0.74 0 0 0 1 -0.27 0.75 0.75 0 0 0 -0.27 -1A9.25 9.25 0 0 0 0.17 8.75a0.74 0.74 0 0 0 0.71 0.79Z" fill="currentcolor" stroke-width="1"></path><path d="M14.47 11a0.25 0.25 0 0 0 0.27 0 5.1 5.1 0 0 1 0.95 -0.64 0.25 0.25 0 0 0 0.13 -0.22v-0.88a6.42 6.42 0 0 0 -8.42 -6.1 0.75 0.75 0 0 0 0.46 1.43 5.07 5.07 0 0 1 1.54 -0.25 4.93 4.93 0 0 1 4.92 4.92v1.55a0.25 0.25 0 0 0 0.15 0.19Z" fill="currentcolor" stroke-width="1"></path><path d="M4.62 5A6.39 6.39 0 0 0 3 9.26V14a6.41 6.41 0 0 0 11 4.51 0.23 0.23 0 0 0 0 -0.32 5.36 5.36 0 0 1 -0.53 -0.86 0.23 0.23 0 0 0 -0.18 -0.12 0.27 0.27 0 0 0 -0.21 0.07A4.92 4.92 0 0 1 4.48 14V9.26A5 5 0 0 1 5.73 6a0.75 0.75 0 1 0 -1.11 -1Z" fill="currentcolor" stroke-width="1"></path><path d="M7.32 14a0.75 0.75 0 0 0 -1.5 0A3.59 3.59 0 0 0 13 14V9.26a3.59 3.59 0 0 0 -7.17 0v1.42a0.75 0.75 0 0 0 1.5 0V9.26a2.09 2.09 0 0 1 4.17 0V14a2.09 2.09 0 0 1 -4.17 0Z" fill="currentcolor" stroke-width="1"></path><path d="M10.15 13.51v-2.83a0.75 0.75 0 0 0 -1.5 0v2.83a0.75 0.75 0 0 0 1.5 0Z" fill="currentcolor" stroke-width="1"></path><path d="M23.8 23a6.15 6.15 0 0 0 -3.8 -3.71 0.23 0.23 0 0 1 -0.17 -0.22 0.24 0.24 0 0 1 0.14 -0.24 4.26 4.26 0 1 0 -3.62 0 0.26 0.26 0 0 1 0.14 0.25 0.25 0.25 0 0 1 -0.17 0.22A6.08 6.08 0 0 0 12.4 23a0.75 0.75 0 0 0 0.7 1h10a0.76 0.76 0 0 0 0.7 -1Zm-7.9 -8a2.09 2.09 0 0 1 0.13 -0.72 0.24 0.24 0 0 1 0.15 -0.16 0.26 0.26 0 0 1 0.21 0 5.71 5.71 0 0 0 2.95 0.85 4.77 4.77 0 0 0 0.76 -0.06 0.26 0.26 0 0 1 0.21 0.06 0.28 0.28 0 0 1 0.08 0.21A2.25 2.25 0 0 1 15.9 15Z" fill="currentcolor" stroke-width="1"></path></g></svg>
          <span class="text-2xl font-semibold text-stone-600"><%= t('sessions.login') %></span>
        </div>
      <% end %>
    </div>
    
    <div class="col-span-3 sm:col-span-1 bg-white border-2 border-stone-600 p-10 rounded-md text-2xl text-center">
      <%= link_to new_registration_path do %>
        <div class="flex flex-col space-y-10 fa-2xl">
          <svg class="size-20 text-black mx-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g><path d="M24 6.25a2 2 0 0 0 -2 -2h-6a0.5 0.5 0 0 0 -0.5 0.5v1.5a0.5 0.5 0 0 1 -1 0v-2.5a3 3 0 0 0 -6 0v2.5a0.5 0.5 0 0 1 -1 0v-1.5a0.5 0.5 0 0 0 -0.5 -0.5H2a2 2 0 0 0 -2 2v15a2 2 0 0 0 2 2h20a2 2 0 0 0 2 -2ZM10.5 3.5a1 1 0 1 1 1 1 1 1 0 0 1 -1 -1Zm-8 17.75a0.5 0.5 0 0 1 -0.5 -0.5v-10.5a0.5 0.5 0 0 1 0.5 -0.5h19a0.5 0.5 0 0 1 0.5 0.5v10.5a0.5 0.5 0 0 1 -0.5 0.5Z" fill="currentcolor" stroke-width="1"></path><path d="M19.25 13.5H14.5a0.75 0.75 0 0 0 0 1.5h4.75a0.75 0.75 0 0 0 0 -1.5Z" fill="currentcolor" stroke-width="1"></path><path d="M18 16.5h-3.5a0.75 0.75 0 0 0 0 1.5H18a0.75 0.75 0 0 0 0 -1.5Z" fill="currentcolor" stroke-width="1"></path><path d="M9.46 16.62a0.89 0.89 0 0 1 0 -0.39 4 4 0 0 0 0.86 -2.77 2.29 2.29 0 1 0 -4.58 0 4 4 0 0 0 0.83 2.73c0 0.09 0 0.35 0.07 0.38 -1.54 0.58 -2.39 1 -2.73 1.71a4.08 4.08 0 0 0 -0.37 1.15 0.47 0.47 0 0 0 0.11 0.41A0.49 0.49 0 0 0 4 20h8a0.49 0.49 0 0 0 0.38 -0.18 0.47 0.47 0 0 0 0.11 -0.41 4.08 4.08 0 0 0 -0.37 -1.15c-0.34 -0.69 -1.19 -1.11 -2.66 -1.64Z" fill="currentcolor" stroke-width="1"></path></g></svg>
          <span class="text-2xl font-semibold text-stone-600"><%= t('sessions.signup') %></span>
        </div>
      <% end %>
    </div>
    
    <div class="col-span-3 sm:col-span-1 bg-white border-2 border-stone-600 p-10 rounded-md text-2xl text-center">
      <%= link_to help_path do %>
        <div class="flex flex-col space-y-10 fa-2xl">
          <svg class="size-20 text-black mx-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g><path d="M24 14a4.5 4.5 0 0 0 -3 -4.24V9A9 9 0 0 0 3 9v0.76a4.5 4.5 0 0 0 0 8.48 1.54 1.54 0 0 0 1.37 -0.18A1.53 1.53 0 0 0 5 16.83V9a7 7 0 0 1 14 0v7.83a1.49 1.49 0 0 0 0.5 1.1v0.57c0 1.48 -1.29 2 -2.5 2h-1.78a2 2 0 1 0 -1.72 3 2 2 0 0 0 1.72 -1H17c2.65 0 4.5 -1.64 4.5 -4V18a4.5 4.5 0 0 0 2.5 -4Z" fill="currentcolor" stroke-width="1"></path><path d="M15.14 14.05a0.83 0.83 0 0 1 0.7 -0.38 0.83 0.83 0 0 1 0.7 1.29 5.42 5.42 0 0 1 -9.08 0 0.83 0.83 0 1 1 1.4 -0.91 3.75 3.75 0 0 0 6.28 0Z" fill="currentcolor" stroke-width="1"></path><path d="M7 9.5a1.67 1.67 0 1 0 3.34 0A1.67 1.67 0 1 0 7 9.5" fill="currentcolor" stroke-width="1"></path><path d="M13.66 9.5a1.67 1.67 0 1 0 3.34 0 1.67 1.67 0 1 0 -3.34 0" fill="currentcolor" stroke-width="1"></path></g></svg>
          <span class="text-2xl font-semibold text-stone-600"><%= t('sessions.help') %></span>
        </div>
      <% end %>
    </div>
  </div>


</div>
