<div class="bg-transparent py-0 sm:py-0 rounded-xl">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl sm:text-center">
      <p class="mt-2 text-3xl font-bold tracking-tight text-stone-500 sm:text-4xl">Logiciel open source de gestion de cabinet d'avocat.</p>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-10 my-20">
    <div class="col-span-3 sm:col-span-1 bg-white border-2 border-stone-600 p-10 rounded-md text-2xl text-center">
      <%= link_to new_session_path do %>
        <div class="flex flex-col space-y-10 fa-2xl">
          <i class="fa-solid fa-fingerprint text-emerald-500"></i>
          <span class="text-2xl font-semibold text-stone-600"><%= t('sessions.login') %></span>
        </div>
      <% end %>
    </div>
    
    <div class="col-span-3 sm:col-span-1 bg-white border-2 border-stone-600 p-10 rounded-md text-2xl text-center">
      <%= link_to new_registration_path do %>
        <div class="flex flex-col space-y-10 fa-2xl">
          <i class="fa-duotone fa-rocket text-sky-500"></i>
          <span class="text-2xl font-semibold text-stone-600"><%= t('sessions.signup') %></span>
        </div>
      <% end %>
    </div>
    
    <div class="col-span-3 sm:col-span-1 bg-white border-2 border-stone-600 p-10 rounded-md text-2xl text-center">
      <%= link_to help_path do %>
        <div class="flex flex-col space-y-10 fa-2xl">
          <i class="fa-duotone fa-life-ring text-pink-500"></i>
          <span class="text-2xl font-semibold text-stone-600"><%= t('sessions.help') %></span>
        </div>
      <% end %>
    </div>
  </div>


</div>
