<%= form_with model: [dossier, contact],
              builder: CustomFormBuilder,
              class: "max-w-3xl", data: {turbo: false} do |form| %>

  <%= render "shared/errors", object: form.object %>

  <fieldset class="bg-white border rounded-md p-6 relative mt-10">
    <legend class="absolute -top-10 text-stone-500 text-lg">
      <span class="font-semibold"><%= contact.new_record? ? t('contacts.new.legend') : t('contacts.edit.legend') %> </span>
      <%= dossier.name %>
    </legend>

    <div class="grid grid-cols-2 sm:gap-4">
      <div class="col-span-2 sm:col-span-1"><%= form.text_field :last_name %></div>
      <div class="col-span-2 sm:col-span-1"><%= form.text_field :first_name %></div>
    </div>

    <div class="grid grid-cols-2 sm:gap-4">
      <div class="col-span-2 sm:col-span-1"><%= form.date_field :birthday %></div>
      <div class="col-span-2 sm:col-span-1"><%= form.text_field :nationality %></div>
    </div>

    <%= form.text_field :job %>
    <%= form.text_field :company_name %>

    <div class="grid grid-cols-2 sm:gap-4">
      <div class="col-span-2 sm:col-span-1">
        <%= form.select :kind, Contact::KINDS.collect { |k| [t("activerecord.attributes.contact.kinds.#{k}"), k] } %>
      </div>

      <div class="col-span-2 sm:col-span-1">
        <%= form.check_box :main %>
        <p id="candidates-description" class="text-gray-500 text-xs"><%= t('activerecord.attributes.contact.main_explanation') %></p>
      </div>
    </div>

    <div class="bg-indigo-100 rounded-md p-3 mb-6">
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 sm:col-span-8">
          <%= form.text_field :bar_name %>
        </div>
        <div class="col-span-12 sm:col-span-4">
          <%= form.text_field :mailbox_number %>
        </div>
      </div>
      <div class="grid grid-cols-2 sm:gap-4 ">
        <div class="col-span-2 sm:col-span-1">
          <%= form.text_field :business_number %>
        </div>
        <div class="col-span-2 sm:col-span-1">
          <%= form.text_field :vat_number %>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-3 sm:gap-4 mb-6">
      <div class="col-span-3 sm:col-span-1">
        <%= form.phone_field :phone %>
      </div>

      <div class="col-span-3 sm:col-span-2">
        <%= form.email_field :email %>
      </div>
    </div>

    <%= form.text_area :address %>

    <div class="grid grid-cols-12 sm:gap-4">
      <div class="col-span-1 sm:col-span-3">
        <%= form.text_field :zip_code %>
      </div>

      <div class="col-span-1 sm:col-span-4">
        <%= form.text_field :city %>
      </div>

      <div class="col-span-1 sm:col-span-5">
        <%= form.country_select :country, {priority_countries: ["FR","ES","DE"], sort_provided: false} %>
      </div>
    </div>

    <%= form.submit %>
  </fieldset>
<% end %>
