<%= turbo_frame_tag :modal %>

<h1 class="font-black text-3xl flex items-center space-x-2">
  <span class="inline-block"><%= @dossier.name %></span>
</h1>

<div class="flex items-center space-x-2">
  <div>
    <span class="text-sm text-stone-500 inline-block mr-6">
      <%= at(@dossier, :reference) %> :
      <span class="font-mono text-stone-700"><%= @dossier.reference %></span>
    </span>
    <span class="text-sm text-stone-500">
      <%= at(@dossier, :created_at) %>
      <%= l(@dossier.created_at, format: :short) %>
    </span>
  </div>
</div>

<div class="grid grid-cols-2 mt-10 gap-4">
  <div class="p-4 bg-white rounded-md border shadow-sm col-span-2 lg:col-span-2">
    <h2 class="text-sm font-semibold text-stone-400"><%= t('dossiers.show.resume') %></h2>
    <%= turbo_frame_tag :dossier_description do %>
      <div class="text-sm mt-1 content"><%= simple_format @dossier.description %></div>
    <% end %>

    <div class="flex justify-between items-center my-4 border-t pt-4">
      <div class="text-base text-stone-600 font-semibold"><%= t('notes.list') %></div>
    </div>

    <ul class="flex flex-col divide-y">
      <% @dossier.notes.each do |note| %>
        <div class="text-xs p-4 rounded-lg bg-yellow-100 border-yellow-500">
          <p class="text-yellow-700"><%= t('notes.updated_at') %> <%=l note.updated_at, format: :short %> </p>
          <%=simple_format note.content %>
        </div>
      <% end %>
    </ul>
  </div>

  <div class="p-4 bg-white rounded-md border shadow-sm col-span-2 lg:col-span-1">
    <h2 class="text-sm font-semibold text-stone-400"><%= t('dossiers.show.hearings') %></h2>
    <div class="flow-root">
      <ul role="list" class="mt-4" id="hearings">
        <%= render partial: "events/event", collection: @dossier.events.hearings %>
      </ul>
    </div>
  </div>

  <div class="p-4 bg-white rounded-md border shadow-sm col-span-2 lg:col-span-1">
    <h2 class="text-sm font-semibold text-stone-400"><%= t('dossiers.show.events') %></h2>
    <div class="flow-root">
      <ul role="list" class="mt-4" id="events">
        <%= render partial: "events/event", collection: @dossier.events.others %>
      </ul>
    </div>
  </div>

  <div class="p-4 bg-white rounded-md border shadow-sm col-span-2 lg:col-span-2">
    <h2 class="text-sm font-semibold text-stone-400"><%= t('dossiers.show.documents') %></h2>
    <ul role="list" class="flex flex-col divide-y">
      <%= render partial: "documents/document", collection: @dossier.documents %>
    </ul>
  </div>
</div>