<div class="bg-white px-10 pb-10 pt-16 rounded-lg border relative">
  <%= render "factures/elements/additionnal_actions", facture: facture, dossier: dossier if facture.draft? && params[:action] != "will_complete" %>
  <%= render "factures/elements/header", facture: facture, dossier: dossier %>
  <%= render "factures/elements/contact", facture: facture, dossier: dossier %>
  <%= render "factures/elements/description", facture: facture, dossier: dossier %>
  <%= render "factures/elements/new_button", facture: facture, dossier: dossier if facture.draft? %>
  <ul><%= render "lignes/header", ligne: Ligne.new %></ul>
  <ul id="lignes" class="flex flex-col divide-y" data-controller="sortable">
    <%= render facture.lignes.saved.order(row_order: :asc) %>
  </ul>
  <div id="totals"><%= render "factures/elements/totals", facture: facture, dossier: dossier %></div>
</div>