<%= content_tag :li, id: dom_id(payment), class: "border rounded-md p-4" do %>
  <div class="flex flex-col space-y-2">
    <div> <%= at(payment, :amount) %> : <%= number_to_currency payment.amount %></div>
    <div class="text-xs text-slate-600"> <%= at(payment,:issued_date) %> : <%= l payment.created_at, format: :only_date %></div>
    <div class="text-xs text-slate-800 font-semibold"> <%= at(payment, :mean) %> : <%= t "activerecord.attributes.payment.means.#{payment.mean}" %></div>

    <div class="text-xs flex justify-between items-center mt-4 border-t pt-4">
      <%= link_to t('buttons.edit'), edit_facture_payment_path(payment.facture, payment), class: "border p-1 rounded-md bg-emerald-50 text-emerald-600" %>
      <%= button_to t('buttons.delete'), facture_payment_path(payment.facture, payment), method: :delete, class: "border p-1 rounded-md bg-rose-50 text-rose-600" %>
    </div>
  </div>
<% end %>