<% unless todo.new_record? %>
  
  <li data-controller="todo" data-sortable-update-url="<%= sort_todo_path(todo) %>">
    <%= turbo_frame_tag dom_id(todo) do %>
      <div class="flex items-center text-xs gap-x-3 py-2 relative">
        <input type="checkbox" <%= "checked" if todo.done? %> 
              data-turbo-frame="false" 
              data-turbo-action="click->todo#toggle" 
              data-turbo-target="todo.done" />


        <div class="flex flex-1 justify-between items-center">
          <div class="flex flex-col space-y-1">
            <div class="text-sm font-semibold"><%= todo.name %></div>

            <% unless params[:controller] == "dossiers" && params[:action] == "show" %>
              <div class="border rounded-md p-1 text-stone-500"><%= todo.todoable.name %></div>
            <% end %>
          </div>

          <div class="flex space-x-1 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-stone-400">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <time datetime="<%= todo.due_at if todo.due_at.present? %>">
            <%= todo.due_at.present? ? l(todo.due_at) : "--" %>
            </time>

            <%= render DropdownComponent.new(todo: todo) %>
          </div>

        </div>
      </div>
    <% end %>
  </li>

<% end %>