<li data-sortable-update-url="<%= sort_facture_ligne_path(ligne.facturable, ligne) %>">
  <%= turbo_frame_tag dom_id(ligne), class: "max-w-full mx-auto bg-white" do %>
    <div class="md:flex justify-between items-center">
      <div class="p-1 text-center w-10">
        <div class="handle cursor-move">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-stone-400">
            <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
          </svg>
          <%= ligne.row_order %>
        </div>
      </div>  
      <div class="p-1 w-5/12">
        <p class="block mt-1 text-sm leading-tight font-medium text-stone-600"><%= ligne.description %></p>
      </div>
      <div class="p-1 w-20 text-center">
        <p class="block mt-1 text-sm leading-tight font-medium text-stone-600"><span class="font-mono"><%= ligne.quantite %></span> <span class="text-xs text-stone-400 font-normal"><%= k(ligne).unit %></span></p>
      </div>
      <div class="p-1 w-32 text-right">
        <p class="block mt-1 text-sm leading-tight font-medium text-stone-600 font-mono"><%= number_to_currency ligne.prix_unitaire %></p>
      </div>
      <div class="p-1 w-20 text-center">
        <p class="block mt-1 text-sm leading-tight font-medium text-stone-600 font-mono"><%= ligne.tva %></p>
      </div>
      <div class="p-1 w-20 text-center">
        <p class="block mt-1 text-sm leading-tight font-medium text-stone-600 font-mono"><%= ligne.reduction %></p>
      </div>
      <div class="p-1 w-32 text-right">
        <p class="block mt-1 text-sm leading-tight font-medium text-stone-600 font-mono"><%= number_to_currency ligne.total_ttc %></p>
      </div>

      <div class="p-1 text-center w-10">
        <%= render DropdownComponent.new do %>
          <%= link_to t('todos.buttons.edit'), polymorphic_url([:edit, ligne.facturable, ligne]), class: "text-gray-700 block px-4 py-2 text-sm" %>
          <%= button_to t('todos.buttons.delete'), 
              polymorphic_url([ligne.facturable, ligne]),
              method: :delete, 
              class: "text-gray-700 block px-4 py-2 text-sm" %>
        <% end %>
      </div>
    </div>
  <% end %>
</li>