<%= render "settings/tabs", selected: "firm_setting" %>

<%= form_with model: @firm_setting, 
    url: settings_firm_setting_path(),
    builder: CustomFormBuilder do |form| %>

  <%= render "shared/errors", object: form.object %>

  <fieldset class="bg-white border rounded-md p-6 relative mt-10">

    <%= form.text_field :legal_name, autofocus: true %>
    <%= form.text_area :honorific_titles %>

    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 sm:col-span-8">
        <%= form.text_field :bar_name %>
      </div>

      <div class="col-span-12 sm:col-span-4">
        <%= form.text_field :mailbox_number %>
      </div>
    </div>
    
    <%= form.text_area :address %>

    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 sm:col-span-3">
        <%= form.text_field :zip_code %>
      </div>

      <div class="col-span-12 sm:col-span-5">
        <%= form.text_field :city %>
      </div>

      <div class="col-span-12 sm:col-span-4">
        <%= form.country_select :country %>
      </div>
    </div>

    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 sm:col-span-4">
        <%= form.phone_field :phone_number %>
      </div>

      <div class="col-span-12 sm:col-span-8">
        <%= form.email_field :email %>
      </div>
    </div>

    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 sm:col-span-4">
        <%= form.text_field :business_number %>
      </div>

      <div class="col-span-12 sm:col-span-4">
        <%= form.text_field :vat_number %>
      </div>

      <div class="col-span-12 sm:col-span-4">
        <%= form.text_field :share_capital %>
      </div>
    </div>

    <div class="flex justify-between items-center">
      <%= link_to t("firm_setting.buttons.back_to_settings").html_safe, settings_path, class: "text-stone-600 border px-2 py-1.5 border-stone-300 rounded-md bg-white hover:text-stone-800 hover:shadow-md" %>
      <%= form.submit class: "cursor-pointer bg-emerald-500 text-white text-lg rounded-md px-4 py-2" %>
    </div>

  </fieldset>

<% end %>