<%= form_with model: contact,
              url: dashboard_contact_path(contact),
              builder: CustomFormBuilder,
              class: "max-w-full" do |form| %>

  <%= render "shared/errors", object: form.object %>

  <fieldset class="bg-white border rounded-md p-6 relative mt-10">

    <div class="grid grid-cols-2 sm:gap-4">
      <div class="col-span-2 sm:col-span-1"><%= form.text_field :last_name %></div>
      <div class="col-span-2 sm:col-span-1"><%= form.text_field :first_name %></div>
    </div>

    <%= form.text_field :company_name %>
    <%= form.select :kind, Contact::KINDS.collect { |k| [t("activerecord.attributes.contact.kinds.#{k}"), k] } %>

    <div class="grid grid-cols-2 sm:gap-4">
      <div class="col-span-2 sm:col-span-1"><%= form.text_field :business_number %></div>
      <div class="col-span-2 sm:col-span-1"><%= form.text_field :vat_number %></div>
    </div>

    <div class="grid grid-cols-3 sm:gap-4">
      <div class="col-span-3 sm:col-span-1"><%= form.phone_field :phone %></div>
      <div class="col-span-3 sm:col-span-2"><%= form.email_field :email %></div>
    </div>

    <%= form.text_area :address %>

    <div class="grid grid-cols-12 sm:gap-4">
      <div class="col-span-12 sm:col-span-3"><%= form.text_field :zip_code %></div>
      <div class="col-span-12 sm:col-span-4"><%= form.text_field :city %></div>
      <div class="col-span-12 sm:col-span-5"><%= form.country_select :country, {priority_countries: ["FR","ES","DE"], sort_provided: false} %></div>
    </div>

    <%= form.submit %>
  </fieldset>
<% end %>
