<%= render 'header', contact: @contact %>

<div class="grid grid-cols-3 gap-4">
  <div class="col-span-3 sm:col-span-1">
    <%= render "resume", contact: @contact %>
  </div>

  <div class="col-span-3 sm:col-span-2">
    <h2 class="text-xl text-stone-600 mb-1"><%= t('contacts.list_dossiers') %></h2>
    <%= render TableComponent.new(
          objects: @contact.dossiers.order(:name),
          list_attributes: %i(state name created_at),
          class_name: "Dossier",
          url_method: :url)
    %>
    
    <h2 class="text-xl text-stone-600 mb-1 mt-6"><%= t('contacts.list_factures') %></h2>
    <%= render TableComponent.new(
          objects: @contact.factures.not_totaly_paid.order(created_at: :desc),
          list_attributes: %i(payment_badge numero dossier description date),
          class_name: "Facture",
          url_method: :facture_url)
    %>
  </div>
</div>