<h1 class="text-xl font-semibold text-stone-500 text-center"><%= t('factures.dashboard_title') %></h1>
<%= render "header" %>

<div class="relative isolate overflow-hidden">
  <div class="border-b border-b-gray-900/10 lg:border-t lg:border-t-gray-900/5 mt-10">
    <dl class="mx-auto grid max-w-7xl grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 lg:px-2 xl:px-0 divide-x">

      <%= render StatComponent.new(
                    name: t('factures.stats.total_ht'), 
                    subtitle: "#{t('factures.stats.tva')} : " + 
                              "#{number_to_currency(@factures.sum(&:total_tva))}",
                    progression: "-- %", 
                    amount: number_to_currency(@factures.sum(&:total_ht))) 
      %>

      <%= render StatComponent.new(
                    name: t('factures.stats.total_received'), 
                    subtitle: "#{t('factures.stats.tva')} : " + 
                              "#{number_to_currency(@payments.sum(&:vat_evaluated_amount))}",
                    progression: "-- %", 
                    amount: number_to_currency(@payments.sum(&:amount))
                 )
      %>

      <%= render StatComponent.new(
                    name: t('factures.stats.new_dossiers_count'), 
                    subtitle: "",
                    progression: "-- %", 
                    amount: @dossiers.count) 
      %>
  
    </dl>
  </div>

  <div class="absolute left-0 top-full -z-10 mt-96 origin-top-left translate-y-40 -rotate-90 transform-gpu opacity-20 blur-3xl sm:left-1/2 sm:-ml-96 sm:-mt-10 sm:translate-y-0 sm:rotate-0 sm:transform-gpu sm:opacity-50" aria-hidden="true">
    <div class="aspect-[1154/678] w-[72.125rem] bg-gradient-to-br from-[#80fffb] to-[#d2fc89]" style="clip-path: polygon(100% 38.5%, 82.6% 100%, 60.2% 37.7%, 52.4% 32.1%, 47.5% 41.8%, 45.2% 65.6%, 27.5% 23.4%, 0.1% 35.3%, 17.9% 0%, 27.7% 23.4%, 76.2% 2.5%, 74.2% 56%, 100% 38.5%)"></div>
  </div>
</div>

<h2 class="text-xl text-stone-600 mt-10 mb-4"><%= t('factures.stats.list_factures_unpaids') %></h2>

<%= render TableComponent.new(
      objects: current_user.factures.order(created_at: :desc),
      list_attributes: %i(payment_badge numero dossier description date total_ttc),
      class_name: "Facture",
      url_method: :dossier_url)
%>