<!DOCTYPE html>
<html>
  <head>
    <title>InvoiceTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6639560/7077632/css/fonts.css" />
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div><%= notice %></div>
    <div><%= alert %></div>

    
    <header>
      <%= render "layouts/nav" %>
    </header>

    <main>
      <section><%= yield %></section>
    </main>

    <footer><%= render "layouts/footer" %></footer>
  </body>
</html>
