<!DOCTYPE html>
<html>
  <head>
    <title>Hammurabi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render "shared/favicons" %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
	  <%= content_for :head %>
  </head>

  <body class="bg-egg container mx-auto px-4 sm:px-10">
    <%= render "shared/flashs" %>
    
    <header>
      <%= render "shared/nav_signed_in" if current_user %>
      <%= render "layouts/nav" unless current_user %>
    </header>

    <main>
      <section><%= yield %></section>
    </main>

    <footer class="border-t pt-6 my-10"><%= render "layouts/footer" %></footer>
  </body>
</html>
